/Operatorler/nbproject/private/
/Operatorler/build/
/ScannerIleInputAlma/nbproject/private/
/ScannerIleInputAlma/build/
/MiniProje_BedenKitleIndeksiHesaplama/nbproject/private/
/MiniProje_BedenKitleIndeksiHesaplama/build/
/MiniProje_KilometreyeGoreOdenecekTutarHesaplama/nbproject/private/
/MiniProje_KilometreyeGoreOdenecekTutarHesaplama/build/
/MiniProje_DikUcgeninHipotenusunuHesaplama/nbproject/private/
/MiniProje_DikUcgeninHipotenusunuHesaplama/build/
/KontrolYapilari/nbproject/private/
/KontrolYapilari/build/
/MiniProje_Girilen3SayidanMaksimumSayiyiBulma/nbproject/private/
/MiniProje_Girilen3SayidanMaksimumSayiyiBulma/build/